
<ng-container *ngIf="selectedPais">


<ng-container [ngSwitch]="selectedContinent">
  
  <ng-container *ngSwitchCase="'Africa'">
    <p>Es un país de Africa</p>
  </ng-container>

  <ng-container *ngSwitchCase="'Europe'">
    <p>Es un país de Europa</p>
  </ng-container>

  <ng-container *ngSwitchCase="'North America'">
    <p>Es un país de Norte america</p>
  </ng-container>

  <ng-container *ngSwitchCase="'Asia'">
    <p>Es un país de Asia</p>
  </ng-container>

  <ng-container *ngSwitchCase="'South America'">
    <p>Es un país de Sudamerica</p>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <p>Es un país del resto del mundo</p>
  </ng-container>

</ng-container>


  <ng-template #cardContent>
    <p>{{selectedPais.name.common}}</p>
  </ng-template>
  
  <app-pais-card>
    <ng-container [ngTemplateOutlet]="cardContent"></ng-container>
    <img [style.width.px]="75" flag [src]="selectedPais.flags.png" alt="">
  </app-pais-card>

</ng-container>



<app-table-paises [paises]="paises" (showCountry)="mostrarPais($event)"></app-table-paises>